/*/ Base /*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.hidden {
    opacity: 0;
}

/*/ html /*/

html {
    font-family: Inter;
    overflow: hidden;
}

/*/ body /*/

body {
    display: grid;
    grid-template-areas:
        "aside history   settings"
        "aside article   settings"
        "aside shortcuts settings";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: var(--aside-width) 1fr var(--aside-width);
    background: var(--body-background);
    border: var(--global-border-size) solid var(--global-border-color);

    --z-base: 2;
    --z-elevated: 4;
    --z-peak: 8;
}

/*/ Sidebar /*/

aside {
    font-family: Trash;
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding) 0;
    color: var(--aside-color);
    grid-area: aside;
    writing-mode: tb;
    transform: rotate(180deg);
    font-size: 30px;
    line-height: calc(var(--aside-width) + 0.215em);
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    width: var(--aside-width);
    z-index: var(--z-elevated);
}

.logo {
    font-weight: bold;
}

.clock {
    font-weight: normal;
}

/*/ History /*/

header {
    position: relative;
    grid-area: history;
    display: flex;
    overflow: hidden;
    padding: var(--main-padding);
    padding-bottom: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: var(--z-elevated);
}

.history {
    display: flex;
    font-size: 30px;
    color: var(--history-base);
}

.history::after {
    /* This ensures that the header will have a height even before
       the first entry is being pushed. */
    content: "*";
    opacity: 0;
}

.history li {
    cursor: pointer;
    white-space: nowrap;
}

.history li::after {
    /* color: var(--history-base); */
    content: " <-";
    white-space: pre;
    margin-right: -0.3ex;
}

.history li[data-chain="start"]::after {
    content: " ⁂ ";
    margin-right: 1ex;
}

.history li span,
.history::after {
    pointer-events: none;
    position: relative;
    display: inline-flex;
    box-shadow: inset 0 0 0 2px var(--history-base);
    border-radius: 100vw;
    padding: .25ex .9ex;
}

.history li:first-of-type span,
.history li:hover span {
    background: var(--history-base);
    color: var(--history-contrast);
}

.history li:first-of-type span::after {
    content: attr(data-lang);
    text-transform: uppercase;
    font-size: 0.5em;
    margin-left: 1ex;
    align-self: center;
}

/*/ Navigation /*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
    pointer-events: none;
    z-index: var(--z-elevated);
}

nav[data-is-visible=true] {
    opacity: 1;
}

#navSelect {
    /* TODO: Also subtract borders and some padding. */
    max-width: min(900px, calc(100vw - var(--aside-width) * 2));
}

.navOption {
    margin-top: 1.5ex;
    display: flex;
}

.navOption:first-child {
    margin-top: 0;
}

[data-navOptionIdx] {
    width: var(--upcoming-option-height);
    height: var(--upcoming-option-height);
    background: var(--upcoming-option-background);
    color: var(--upcoming-option-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--upcoming-option-font-size);
    border-radius: var(--upcoming-option-height);
    border-bottom-right-radius: 0;
    flex-shrink: 0;
}

[data-navOptionIdx="0"]::before { content: ""; }
[data-navOptionIdx="1"]::before { content: "➀"; }
[data-navOptionIdx="2"]::before { content: "➁"; }
[data-navOptionIdx="3"]::before { content: ""; }
[data-is-available="false"] [data-navOptionIdx]::before { content: ""; }

.navOptionTitle {
    height: var(--upcoming-option-height);
    font-size: var(--upcoming-option-font-size);
    background: var(--upcoming-option-background);
    color: var(--upcoming-option-color);
    padding: 0 1.5ex;
    border-radius: var(--upcoming-option-height);
    border-bottom-left-radius: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    line-height: var(--upcoming-option-height);
}

.navOption:first-child .navOptionTitle {
    border-top-left-radius: 0;
    border-bottom-left-radius: var(--upcoming-option-height);
    margin-left: -1px;
}

.navOption:first-child [data-navOptionIdx] {
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--upcoming-option-height);
}

/*/ Loading Spinner /*/

#loadingSpinner {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--article-loading-spinner-color);
}

/*** ——— Article ——— ***/

article {
    --article-frame-timing: 512ms ease-in-out;
    grid-area: article;
    position: relative;
    z-index: var(--z-base);
}

#articleInput {
    position: absolute;
    pointer-events: none;
    left: var(--k-article-token-x);
    top: var(--k-article-token-y);
    font: inherit;
    border: 0;
    color: var(--token-active-color);
    caret-color: transparent;
    background: var(--token-active-background);
    z-index: var(--z-peak);
    white-space: nowrap;
}

#articleInput:focus {
    outline: none;
}

article[data-is-loaded=false] #articleInput {
    display: none;
}

@keyframes blink {
    0%, 40% { opacity: 0; }
    50%, 100% { opacity: 1; }
}

#articleInput::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transform: scaleY(var(--article-caret-scale-y));
    width: var(--article-caret-width);
    background: var(--article-caret-color);
    /* FIXME: Add variable to the body if user is typing to stop blinking. */
    /* animation: blink 1.4s linear infinite; */
}

#articleInput::before {
    content: attr(data-mistyped);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--token-error-color);
    background: var(--token-error-background);
    white-space: pre-wrap;
}

/*** ——— Article Frame ——— ***/

#articleFrame {
    /* TODO: Include border */
    position: fixed;
    top: 0;
    left: calc(var(--aside-width));
    width: calc(100vw - var(--aside-width) * 2);
    height: 100vw;
    background: var(--article-frame-background);
    transition: background var(--article-frame-timing);
    pointer-events: none;
}

#articleContentWrapper {
    position: absolute;
    top: var(--article-frame-y);
    left: var(--article-frame-x);
    width: var(--article-frame-width);
    height: var(--article-frame-height);
    padding: var(--lap);
    transition: left var(--article-frame-timing), top var(--article-frame-timing),
                width var(--article-frame-timing), height var(--article-frame-timing);
}

#articleOverflow {
    height: 100%;
    overflow: hidden;
}

#articleThumbnail[src="data:,"],
#articleImage[src="data:,"] {
    display: none;
}

#articleThumbnail {
    margin-top: 20px;
    border: var(--article-thumbnail-border);
    /* FIXME: Use variable for thumbnail size. */
    max-height: 200px;
    max-width: 200px;
    mix-blend-mode: var(--article-thumbnail-mix-blend-mode);
    filter: var(--article-thumbnail-filter);
}

#articleImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 95vw;
    object-fit: contain;
    max-height: var(--original-height);
    max-width: var(--original-width);
    border: none;
    z-index: var(--z-peak);
}

.token {
    display: inline-block;
    position: relative;
    white-space: pre-wrap;
    color: var(--token-upcoming-color);
    background: var(--token-upcoming-background);
}

#activeToken {
    z-index: var(--z-elevated);
}

#progressToken {
    color: var(--token-progress-color);
    background: var(--token-progress-background);
    text-shadow: var(--token-progress-text-shadow);
    position: absolute;
    right: 0;
}

#progressToken::before {
    content: attr(data-upcoming);
}

#articleExtract, #articleInput {
    font: var(--article-extract-font);
    font-feature-settings: var(--article-extract-font-feature-settings);
    letter-spacing: var(--article-extract-letter-spacing);
}

.typedToken {
    position: relative;
    color: var(--token-typed-color);
    background: var(--token-typed-background);
}

.token::before {
    content: attr(data-word);
}

#activeToken::before {
    color: transparent;
}

.history-image {
    --timing: 500ms;
    --history-image-max-size: 200px;
    position: absolute;
    mix-blend-mode: var(--aside-thumbnail-mix-blend-mode);
    filter: var(--aside-thumbnail-filter);
    max-height: var(--history-image-max-size);
    max-width: var(--history-image-max-size);
    transform-origin: center;
    pointer-events: none;
    /* FIXME: Animating transform will prevent the animation of mix-blend-mode. */
    transition: all var(--timing) ease-in-out, z-index 0s linear;
}

/************************/
/*** FOOTER/SHORTCUTS ***/
/************************/
footer {
    grid-area: shortcuts;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: var(--z-elevated);
}

#shortcuts {
    display: inline-flex;
    justify-content: center;
    padding: 2ex 3ex;
    font-size: 14px;
    border-radius: 100vw;
    background: var(--shortcut-background);
}

#shortcuts div {
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--shortcut-text);
}

#shortcuts div:not(:last-child)::after {
    content: ";";
    padding: 0 2ex;
    opacity: .4;
}

#shortcuts dt {
    padding-right: 1ex;
    font-weight: bold;
    display: flex;
    grid-gap: 1px;
}

#shortcuts b {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: var(--shortcut-text);
    color: var(--shortcut-box);
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

#shortcuts b.extended {
    width: 30px;
}

/****************/
/*** SETTINGS ***/
/****************/
#settingsWrapper {
    --settings-wrapper-width: min(40vw, 550px);

    grid-area: settings;
    background: var(--settings-background);
    flex-shrink: 0;
    width: var(--aside-width);
    z-index: var(--z-elevated);
}

#settingsWrapperInner {
    background: var(--settings-background);
    color: var(--settings-color);
    position: relative;
    left: 0;
    height: 100%;
    display: flex;
    transition: left 500ms ease,
                width 500ms ease,
                box-shadow 500ms ease;
    width: var(--aside-width);
    overflow: hidden;
}

#settingsWrapper:hover #settingsWrapperInner {
    box-shadow: 0 0 100px 10px var(--dark);
    left: calc(-1 * var(--settings-wrapper-width));
    width: calc(var(--aside-width) + var(--settings-wrapper-width));
    transition: left 500ms ease,
                width 500ms ease,
                box-shadow 500ms ease,
                background 256ms ease;
}

#settingsStatusBar {
    /* FIXME: Clean up the units. font-size, margin, etc... */
    writing-mode: vertical-lr;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-padding) 0;
    font-family: Trash;
    line-height: calc(var(--aside-width) + 0.215em);
    width: var(--aside-width);
    pointer-events: none;
    white-space: pre;
}

#settingsStatus {
    text-transform: uppercase;
}

#settings {
    width: var(--settings-wrapper-width);
    min-width: var(--settings-wrapper-width);
    height: 100vh;
    color: var(--settings-color);
    overflow-y: auto;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-left: 1px solid var(--settings-border-color);
}

#settings h3 {
    margin-left: 20px;
    margin-top: 3ex;
    margin-bottom: .5ex;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: Trash;
}

#settings .options {
    overflow-x: hidden;
}

#settings .settingsOption {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    font-family: Amer-Expa-Regular, GTAmericaLC-ExpRg;
    font-feature-settings: "kern", "liga", "ss05", "ss02", "onum";
}

#settings .settingsOption:not(:last-child) {
    border-bottom: 1px solid var(--settings-border-color);
}

#settings .settingsOption::before {
    font-weight: 100;
    font-family: Inter;
    margin: .25ex .5ex;
    margin-left: 20px;
}

#settings p:not(:last-child) {
    margin-bottom: 1em;
}

[data-type="link"] .settingsOption::before {
    content: "↗";
}
[data-type="checkbox"] .settingsOption::before {
    content: "◇";
}
[data-type="checkbox"] .settingsOption[data-is-selected="true"]::before {
    content: "◆";
}
[data-type="radio"] .settingsOption::before {
    content: "○";
}
[data-type="radio"] .settingsOption[data-is-selected="true"]::before {
    content: "●";
}